* {
    margin: 0;
    padding: 0;
}

._content {
    background: url(../img/dat-ban/bg-section-3.png);
}

@media (max-width: 576px) {
    .content-usp ._title-usp span {
        color: #900fcc !important;
    }
}

#banner-datban-top {
    width: 100%;
    min-height: 500px;
    background: url(../img/dat-ban/King-BBQ_JPEG_7-1.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

#form-datban-lite {
    position: absolute;
    background: url(../img/dat-ban/bg-book.png) no-repeat;
    background-size: cover;
    margin-left: 64%;
    margin-right: 20%;
    margin-top: 5%;
    width: 30%;
    background-size: contain;
}

#form-datban-lite .group_field {
    color: brown;
}

#form-datban-lite .submit {
    background-color: aliceblue;
    color: red;
    text-transform: uppercase;
}


/* usp */

.content-usp {
    /* background: url(../img/dat-ban/bg-section-3.png) no-repeat; */
    /* background-color: #BE1E2D; */
    background-size: cover;
    margin-top: 32px;
}

.content-usp ._title-usp {
    text-align: center;
}

.content-usp .boxtext-usp {
    padding: 10px 30px;
    text-align: justify;
    margin: 0;
}

.boxtext-usp .boxtext-usp-item {
    /* display: block; */
    color: aliceblue;
}

.boxtext-usp .boxtext-usp-item img {
    width: 1.1em;
    /* height: auto; */
}

._content-menu {
    padding: 2rem 0;
    /* background: url(../img/dat-ban/bg-section-3.png); */
    text-align: center;
}

._content-menu ._item-menu {
    padding: 0;
    margin: 0;
}

._content-menu .right-item,
._content-menu .left-item {
    padding: 0;
}

.content-usp ._title-usp span,
._content-menu ._title-menu span {
    color: #DCC283;
    font-size: 14px;
    letter-spacing: 3px;
}

.content-usp ._title-usp h2,
._content-menu ._title-menu h2 {
    color: #fff;
    font-size: 44px;
}

._content-menu .box-text a {
    /* width: 100%; */
    color: #c9c4c4;
    margin-top: 16px;
    text-decoration: none;
}

._content-menu .box-text a:hover {
    color: #c59d5f;
}

._content-menu .box-text h5 {
    margin-top: 16px;
}

._content-menu .left-item>img,
._content-menu .right-item>img {
    width: 94%;
    border-radius: 2px;
}


/* dat ban */

#dat-ban {
    /* background: url(../img/dat-ban/bg-section-3.png); */
    color: aliceblue;
    padding: 0 30px;
    margin: 0 0;
    margin-top: 40px;
}

#dat-ban .title-datban-down {
    padding-bottom: 40px;
}

#dat-ban .title-datban-down span {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 20px;
}

#dat-ban .title-datban-down h2 {
    padding-left: 1rem;
    font-size: 50px;
}

#dat-ban .img-datban-down {
    padding-left: 50px;
    padding-right: 0;
}

#dat-ban .form-datban {
    padding-right: 50px;
    padding-left: 0;
}

#dat-ban .img-datban-down img {
    width: 100%;
}

#dat-ban .btn-submit-datban {
    text-transform: uppercase;
    margin-top: 32px;
    margin-bottom: 32px;
}

#dat-ban .form-group input,
#dat-ban .form-group select,
#dat-ban .form-group textarea {
    background-color: transparent;
    border: none;
    /* border-bottom: 2px; */
    border-bottom: 1px solid #9a9a9a;
    color: #e2e2e2;
}

#dat-ban .form-control input:focus,
#dat-ban .form-control select:focus,
#dat-ban .form-control textarea:focus {
    border: none;
    border-bottom: #900fcc solid 1px;
    box-shadow: inset -1px -3px 8px 0rem rgb(177 211 247 / 25%);
}

option:not(:checked) {
    background-color: #414141;
}


/* icon */

#inputAmount {
    background: url(../img/dat-ban/icon-person.svg) no-repeat right;
    background-size: auto;
    appearance: none;
    -webkit-appearance: none;
}

#inputTime {
    background: url(../img/dat-ban/icon-clock.svg) no-repeat right;
    background-size: auto;
}

#inputDate {
    background: url(../img/dat-ban/icon-date.svg) no-repeat right;
    background-size: auto;
}


/* ẩn icon đồng hồ mặc định*/

[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}


/* ẩn icon lịch mặc định */

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}